@font-face {
  font-family: 'comfortaa';
  src: url('./assets/fonts/comfortaa-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./assets/fonts/comfortaa-variablefont_wght-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'borsok';
  src: url('./assets/fonts/boorsok-webfont.woff2') format('woff2'),
    url('./assets/fonts/boorsok-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: rgb(255 238 0 / 50%);
  --blue: rgb(76 201 210 / 45%);
  --green: rgb(149 231 51 / 50%);
  --orange: rgb(255 163 0 / 50%);
  --pink: rgb(255 50 172 / 33%);
  --gray: #EFEFEF;
  --button-color: #08ccda;

  --home-mallow: min(250px, 40vw);
}

html {
  min-height: 100vh;
}

body {
  font-family: 'comfortaa';
  min-height: 100vh;
}

#root,
.App {
  min-height: 100vh;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
}

button {
  font-family: inherit;
  cursor: pointer;
  appearance: none;
  border: none;
}

.error-page {
  background-color: var(--orange);
  min-height: 100vh;
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 3vw);
}

.error-page--img {
  width: 300px;
}

.error-page--img img {
  width: 100%;
}
header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  opacity: 0.95;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  background-color: white;
  padding: 0 5vw;
  height: 60px;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
  z-index: 3;
}

nav {
  display: flex;
  gap: 5vw;
  align-items: center;
  justify-content: center;
}

.header--alt-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.header--cart {
  display: flex;
  align-items: center;
}

.header--cart-button,
.header--drop-down,
.header--search-button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
  position: relative;
}

.header--cart-count {
  font-family: 'comfortaa';
  position: absolute;
  background-color: var(--button-color);
  color: white;
  font-size: 0.6rem;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -0.3rem;
  right: -0.5rem;
  line-height: 100%;
  vertical-align: center;
}

.header--drop-down-container {
  display: none;
}

.header--drop-down,
.header--search-button {
  width: 30px;
  display: flex;
  align-items: center;
}

.header--cart-button:hover,
.header--drop-down:hover,
.header--search-button:hover {
  opacity: 0.7;
}

.header--alt-nav button:active {
  scale: 0.9;
}

.logo {
  z-index: 3;
  height: 75px;
  width: min-content;
  transition: 0.3s;
  translate: 0 25px;
  cursor: pointer;
}

.logo:hover {
  scale: 1.1;
}

.logo:active {
  scale: 1;
}

.logo img {
  height: 100%;
  width: auto;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: #1d1f28;
  transition: 0.3s;
}

header .nav-link:hover {
  scale: 1.1;
}

.nav-slide .nav-link:hover {
  opacity: 0.5;
}

.nav-link.active {
  color: var(--button-color);
}

main {
  padding-top: 60px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.home--main {
  flex: 1 1 100%;
  /* background-color: var(--blue); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: center/ min(90vw, 800px) no-repeat url('./assets/pink-color.png'), var(--blue);

}

.home--image {
  width: var(--home-mallow);
  transition: 0.3s;
  cursor: pointer;
}

.home--image img {
  width: 100%;
  transition: 0.3s;
}

.home--squish-container {
  display: flex;
  flex-direction: column;
}

.home--row1,
.home--row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home--row1 {
  scale: 0.9;
}

.home--row1 .home--image:last-child {
  scale: 1.3;
  margin-left: calc(var(--home-mallow) * -0.2);
}

.home--row2 {
  scale: 1;
  margin-top: calc(var(--home-mallow) * -0.5);
}

.home--image {
  margin-left: calc(var(--home-mallow) * -0.4);
}

.home--image:first-child {
  margin: 0;
}

.home--image:nth-child(2) {
  z-index: 1;
  translate: 0 calc(var(--home-mallow) * 0.1);
}

.home--image:hover {
  translate: 0 calc(var(--home-mallow) * -0.1);
}

.home--image:active {
  translate: 0;
}

.home--shop-link {
  /* position: absolute; */
  appearance: none;
  border: none;
  background-color: rgb(8, 204, 218);
  color: white;
  font-family: inherit;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.home--shop-link:hover {
  translate: 0 -2px;
  box-shadow: 0 2px hsl(184, 93%, 30%);
}

.home--shop-link:active {
  translate: 0;
  box-shadow: none;
}

.shop--items-container {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin: 60px 25px;
}

.shop--card {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color:#1d1f28;
  transition: 0.3s;
}

.shop--card:hover {
  color:hsl(229, 16%, 50%);
}

.shop--img-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.shop--img-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.shop--img-container img {
  width: 100%;
  transition: 0.3s;
  transition-timing-function: ease-in;
}

.oos-badge {
  box-sizing: border-box;
  position: absolute;
  font-family: 'borsok';
  color: white;
  background-color: #777;
  height: 50px;
  width: 50px;
  font-size: 12px;
  letter-spacing: 0.1em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: -6px;
  left: -6px;
  
}

.shop--name {
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 7px;
}

@keyframes alt {
  0% {
    rotate: 0;
  }
  25% {
    rotate: -10deg;
  }
  50% {
    translate: 0 -10px;
    rotate: 0deg;
  }
  75% {
    rotate: 10deg;
  }
  100% {
    rotate: 0;
  }
}

.alt-effect {
  animation-name: alt;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.item-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  color: rgb(29,31,40);
  padding-top: 5vw;
  padding: 1vw 20px 60px 20px;
}

.item-page--wrapper {
  max-width: 1150px;
}

.item--name {
  font-size: 4.5rem;
  font-family: 'borsok';
  font-weight: 100;
}

.item--main-info {
  display: flex;
  gap: 50px;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 0.5px solid rgba(29, 31, 40, 0.191);
  padding-bottom: 20px;
}

.item--main-info-part div:first-child {
  font-size: 0.75rem;
  color: rgba(29, 31, 40, .69);
}

.item--text {
  font-size: 0.9rem;
  font-weight: 500;
}

.item--images {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.item--image-container {
  max-width: 500px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 249, 249);
  border-radius: 30px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.item--image-roll{
  display: flex;
  transition: 0.3s;
}

.item--image-container img {
  width: 100%;
}

.item--image-container button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item--image-container:hover .image-button {
  translate: 0;
}

.image-button {
  padding: 0;
  background-color: transparent;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}

.image-button img {
  width: 100%;
}

.image-button:hover {
  opacity: 1;
}

.item--image-right {
  right: 0;
  translate: 6vh;
}

.item--image-left {
  left: 0;
  translate: -6vh;
}

.item--image-selector {
  transition: 0.3s;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.item--image-selector img {
  transition: 0.3s;
  cursor: pointer;
}

.item--size p {
  margin: 0;
}

.item--size div {
  width: max-content;
  white-space: pre-wrap;
  box-sizing: border-box;
  padding: 6px 16px;
  border: 1px solid rgba(8, 204, 218, 0.371);
  margin: 10px 0;
}

.item--price-container div:first-child {
  font-size: 0.9rem;
  margin: 0 6px;
}

.item--out-of-stock {
  color: #B50808;
}

.item--price {
  line-height: 100%;
  font-size: 3rem;
}

.item--acquisition {
  margin: 30px 0;
}

.item--qty {
  height: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid rgb(233, 233, 233);
  width: max-content;
  border-radius: 5px;
  overflow: hidden;
}

.item--qty input[type='number'] {
  box-sizing: border-box;
  margin: 0;
  appearance: none;
  height: 100%;
  border: none;
  width: 30px;
  text-align: center;
  color: #777
}

.item--qty input[type='number']:focus {
  outline: none;
}

/* only working way I could find of removing arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-error {
  transition: 0.5s;
  position: absolute;
  height: min-content;
  translate: 0 100%;
  font-size: 0.8rem;
  color: #B50808;
  font-weight: 600;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 6px;
  pointer-events: none;
}

.item--qty input[type='button'] {
  appearance: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  width: 25px;
  background-color: transparent;
  height: 100%;
  color: #777;
  cursor: pointer;
  vertical-align: middle;
  transition: 0.2s;
  overflow: hidden;
}

.item--qty input.qty-minus {
  border-right: 1px solid rgb(233, 233, 233);
}

.item--qty input.qty-plus {
  border-left: 1px solid rgb(233, 233, 233);
}

input.qty-plus:hover,
input.qty-minus:hover {
  color: var(--button-color);
}

input.qty-plus:active,
input.qty-minus:active {
  background-color: var(--button-color);
  color: white;
}

.item--qty-form {
  display: flex;
  align-items: center;
  position: relative;
}

button.add-to-cart {
  background-color: var(--button-color);
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}

button.add-to-cart:hover {
  translate: 0 -2px;
  box-shadow: 0 2px hsl(184, 93%, 30%);
}

button.add-to-cart:active {
  translate: 0;
  box-shadow: none;
}

.cart-empty-page,
.cart-empty-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.cart-empty-icon {
  height: 20vh;
  opacity: 0.2;
}

.cart-empty-text {
  font-size: calc(1rem + 3vw);
  font-weight: 900;
  margin-bottom: 2vh;
}

.cart-empty-slide .cart-empty-text {
  font-size: 25px;
}

.return-to-shop-button {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: var(--button-color);
  font-family: inherit;
  font-weight: 800;
  color: white;
  letter-spacing: 0.05rem;
  transition: 0.3s;
}

.return-to-shop-button:hover {
  translate: 0 -2px;
  box-shadow: 0 2px hsl(184, 93%, 30%);
}

.return-to-shop-button:active {
  translate: 0;
  box-shadow: none;
}

.cart-page {
  padding: 50px 20px;
  width: 100%;
  max-width: 1200px;
}

.cart--details {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cart--item-added {
  background-color: var(--button-color);
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 16px;
}

.cart--item-added-confirmation {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.cart--item-added a {
  color: white;
  font-weight: 800;
  transition: 0.2s;
}

.cart--item-added a:hover {
  opacity: 0.5;
}

.cart--item-added img {
  width: 25px;
  height: 25px;
}

.cart--items-wrapper {
  flex: 1 1 50%;
  container-type: inline-size;
  container-name: cart;
}

.cart--items {
  width: 100%;
  height: min-content;
  min-width: 300px;
}

.cart--totals {
  flex: 1 1 20%;
  min-width: 300px;
  height: min-content;
}

.cart--item-row {
  height: 75px;
  position: relative;
  transition: 0.5s;
}

.cart--item-row td {
  height: 75px;
  text-align: center;
}

.cart--item-img {
  height: 100%;
}

.cart--remove {
  position: absolute;
  inset: 0;
  margin: auto auto auto 0;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart--remove:hover {
  opacity: 0.5;
}

.cart--remove:active {
  scale: 0.9;
}

.cart--remove img {
  height: 100%;
  /* width: 100%; */
}

.cart--remove-column {
  width: 30px;
}

.cart-page th {
  font-size: 0.8rem;
  font-weight: 900;
  border-bottom: 2px solid #77777718;
  text-align: center;
}

table {
  width: 100%;
  max-width: 700px;
  table-layout: fixed;
  border-collapse: collapse;
}

.item--sub-total {
  color: var(--button-color);
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.cart-page .item--qty {
  margin-left: auto;
  margin-right: auto;
}

.cart--totals th {
  border: none;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 900;
}

.cart--totals {
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  padding: 16px;
}

.totals-price {
  color: #777;
  text-align: right;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.highlight {
  color: var(--button-color);
}

.large {
  font-size: 1.3rem;
  font-weight: 800;
}

.x-large {
  font-size: 1.8rem;
  font-weight: 800;
}

.cart--totals--data {
  border-bottom: 1px solid #EFEFEF;
}

.cart--totals td {
  padding: 16px 8px;
}

.cart--totals--heading {
  font-size: 0.8rem;
}

.checkout-button {
  width: 100%;
  color: white;
  background-color: var(--button-color);
  height: 3rem;
  border-radius: 30px;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.05em;
  transition: 0.3s;
}

.checkout-button:hover {
  translate: 0 -2px;
  box-shadow:0 2px hsl(184, 93%, 30%);
}

.checkout-button:active {
  translate: 0;
  box-shadow: none;
}

.cart--item-name {
  cursor: pointer;
}

.cart--item-img-container {
  cursor: pointer;
}

.cart--item-img-container .cart--item-img {
  transition: 0.3s;
}

.cart--item-img-container:hover .cart--item-img,
.cart--item-row:has(.cart--item-name:hover) .cart--item-img{
  scale: 1.1;
}

.cart--item-img-container:active .cart--item-img,
.cart--item-row:has(.cart--item-name:active) .cart--item-img {
  scale: 1;
}

@container cart (max-width: 500px) {
  .cart-page th {
    display: none;
  }

  .cart--remove-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart--remove {
    height: 20px;
    position: relative;
  }

  .cart--item-row {
    height: min-content;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 115px;
    margin-bottom: 20px;
  }

  .cart--item-row .cart--item-img-container {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart--item-img {
    height: 80%;
  }
  
  .cart-page .item--qty {
    height: 1rem;
  }

  .item--qty-container {
    display: flex;
    justify-content: flex-end;
  }

  .cart--item-row td {
    height: 1.5rem;
    font-size: 0.8rem;
    display: flex;
  }

  .dash-bottom {
    border-bottom: 1px dashed rgba(129,129,129,0.2);
  }

  .item--sub-total {
    font-size: 0.9rem;
  }

  .cart--item--price {
    color: #777;
  }

  .item--sub-total::before,
  .item--qty-container::before,
  .cart--item--price::before {
    margin: auto auto auto 0;
    color: #2d2a2a;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0;

  }

  .cart--item--price::before {
    content: 'PRICE';
  }

  .item--qty-container::before {
    content: 'QUANTITY';
  }

  .item--sub-total::before {
    content: 'SUBTOTAL';
  }

  .cart--item-row .cart--item-name {
    margin-right: auto;
    font-size: 1rem;
  }
}

.cart-slide,
.nav-slide {
  transition: 0.3s;
  background-color: white;
  position: fixed;
  height: 100vh;
  z-index: 5;
  right: 0;
  translate: 100% 0;
}

.nav-slide {
  box-sizing: border-box;
  padding: 0;
  width: 17rem;
}

.nav-slide ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-slide li {
  padding: 15px 20px;
  border-bottom: 1px solid var(--gray);
  width: 100%;

}

.cart-slide {
  padding: 50px;
  width: min(300px, 100vw);
  display: grid;
  grid-template-rows: 3rem 50vh 1fr;
}

.cart-slide--close,
.nav-slide--close {
  position: absolute;
  right: 20px;
  top: 16px;
  height: 35px;
  width: 35px;
  opacity: 0.5;
}

.cart-slide--close:hover,
.nav-slide--close:hover {
  opacity: 1;
}

.slide-in {
  translate: 0;
}

.cart-slide--heading {
  font-family: 'borsok', sans-serif;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  color: var(--button-color);
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--gray);
}

.cart-slide--item:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}

.cart-slide--item {
  display: grid;
  padding: 15px 6px;
  grid-template-columns: 2fr 3fr 1fr;
}

.cart-slide--close,
.nav-slide--close,
.cart-slide--remove-button {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-slide--remove-button {
  padding: 2px;
  width: 20px;
  height: 20px;
}

button img {
  width: 100%;
}

.cart-slide--item-details {
  display: flex;
  gap: 6px;
}

.cart-slide--items {
  border-bottom: 2px solid var(--gray);
  overflow: scroll;
}

.cart-slide--sub-total div:first-child {
  padding: 0;
  margin-top: 8px;
  margin-bottom: -6px;
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.cart-slide--fine-print {
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-top: 4vh;
}

.cart-slide--buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-slide--buttons button:first-child{
  --color: var(--button-color);
  --darkened-color: hsl(184, 93%, 30%);
}

.cart-slide--buttons button:last-child {
  --color: hsl(339, 93%, 59%);
  --darkened-color: hsl(339, 93%, 30%)
}

.cart-slide--buttons button {
  padding: 10px;
  border-radius: 30px;
  color: white;
  letter-spacing: 0.05em;
  font-weight: 800;
  transition: 0.3s;
  background-color: var(--color);
}

.cart-slide--buttons button:hover {
  translate: 0 -2px;
  box-shadow: 0 2px var(--darkened-color);
}

.cart-slide--buttons button:active {
  translate: 0;
  box-shadow: none;
}

.fade-font {
  color: #BBB;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

.fade-screen {
  position: fixed;
  background-color: black;
  inset: 0;
  z-index: 4;
}

.search-slide {
  position: fixed;
  width: 100vw;
  height: 85vh;
  bottom: 0;
  z-index: 4;
  background-color: white;
  translate: 0 100%;
  transition: 0.3s;
}

.slide-up {
  translate: 0;
}

.search--input-container {
  position: relative;
}

.nav-slide .search--container {
  margin-top: 60px;
}

.search--icon {
  position: absolute;
  inset: 0;
  margin: auto 16px auto auto;
  height: 30px;
  pointer-events: none;
  transition: 0.3s;
}

.search--container input {
  appearance: none;
  border: none;
  font-family: inherit;
  width: 100%;
}

.search-slide .search--container input {
  box-sizing: border-box;
  font-family: 'borsok';
  border-bottom: 1px solid var(--gray);
  text-align: center;
  font-size: min(50px, calc(1rem + 3vw));
  letter-spacing: 0.05em;
  color: var(--button-color);
  padding: 0.5em 20px;
  height: 10vh;
}

.search-slide .search--container input::placeholder {
  color:hsl(339, 93%, 59%);
}


.nav-slide .search--container input {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 10px rgb(231, 230, 230);
  padding: 25px 20px;
}

.search--container:has(input:focus) .search--icon {
  opacity: 0;
}

.search--container input:focus {
  outline: 0.5px solid var(--button-color);

}

.nav-slide .search--container input {
  font-size: 1rem;

}

.search--results {
  overflow: scroll;
}

.nav-slide .search--results {
  max-height: 50vh;
  box-shadow: 0 0.5px 5px rgb(243, 243, 243);
}

.search-slide .search--results {
  display: grid;
  box-sizing: border-box;
  /* padding: 1rem 5rem; */
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 50px;
  overflow: scroll;
  width: 100%;
  padding: 50px;
  margin: auto;
  height: 75vh;

}

ul.search--results {
  list-style: none;
}

.search-slide .search--results li {
  text-align: center;
  container-type: inline-size;
  container-name: search;
}

@container search (min-width: 0){
  a {
    font-size: calc(1rem + 5cqw);
  }
}

.search--results li a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color:#1d1f28;
}

.search-slide .search--results li a {
  flex-direction: column;
  /* font-size: 1.2rem; */
}

.search-slide a span {
  margin-top: -0.8em;
}

.nav-slide .search--results img {
  height: 50px;
}

.search-slide .search--results img {
  width: 100%;
  max-width:50vh;
}

.search--results {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }

  .header--alt-nav {
    grid-column: 3 / 4;
  }

  .header--drop-down-container {
    display: flex;
  }

  .header--search {
    display: none;
  }
}