@font-face {
  font-family: 'comfortaa';
  src: url('./assets/fonts/comfortaa-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./assets/fonts/comfortaa-variablefont_wght-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'borsok';
  src: url('./assets/fonts/boorsok-webfont.woff2') format('woff2'),
    url('./assets/fonts/boorsok-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: rgb(255 238 0 / 50%);
  --blue: rgb(76 201 210 / 45%);
  --green: rgb(149 231 51 / 50%);
  --orange: rgb(255 163 0 / 50%);
  --pink: rgb(255 50 172 / 33%);
  --button-color: rgb(8 204 218);

  --home-mallow: min(250px, 40vw);
}

html {
  min-height: 100vh;
}

body {
  font-family: 'comfortaa';
  min-height: 100vh;
}

#root,
.App {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.error-page {
  background-color: var(--orange);
  min-height: 100vh;
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 3vw);
}

.error-page--img {
  width: 300px;
}

.error-page--img img {
  width: 100%;
}
header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 30px;
  height: 60px;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
  z-index: 3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--cart-button {
  padding: 0;
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  position: relative;
}

.header--cart-count {
  font-family: 'comfortaa';
  position: absolute;
  background-color: var(--button-color);
  color: white;
  font-size: 0.6rem;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -0.3rem;
  right: -0.5rem;
  line-height: 100%;
  vertical-align: center;
}

.header--cart-button:hover {
  opacity: 0.7;
}

.logo {
  z-index: 10;
  height: 75px;
  width: min-content;
  transition: 0.3s;
  translate: 0 25px;
  cursor: pointer;
}

.logo:hover {
  scale: 1.1;
}

.logo:active {
  scale: 1;
}

.logo img {
  height: 100%;
  width: auto;
}

main {
  padding-top: 60px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.home--main {
  flex: 1 1 100%;
  /* background-color: var(--blue); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: center/ min(90vw, 800px) no-repeat url('./assets/pink-color.png'), var(--blue);

}

.home--image {
  width: var(--home-mallow);
  transition: 0.3s;
  cursor: pointer;
}

.home--image img {
  width: 100%;
}

.home--squish-container {
  display: flex;
  flex-direction: column;
}

.home--row1,
.home--row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home--row1 {
  scale: 0.9;
}

.home--row1 .home--image:last-child {
  scale: 1.3;
  margin-left: calc(var(--home-mallow) * -0.2);
}

.home--row2 {
  scale: 1;
  margin-top: calc(var(--home-mallow) * -0.5);
}

.home--image {
  margin-left: calc(var(--home-mallow) * -0.4);
}

.home--image:first-child {
  margin: 0;
}

.home--image:nth-child(2) {
  z-index: 1;
  translate: 0 calc(var(--home-mallow) * 0.1);
}

.home--image:hover {
  translate: 0 calc(var(--home-mallow) * -0.1);
}

.home--image:active {
  translate: 0;
}

.home--shop-link {
  /* position: absolute; */
  appearance: none;
  border: none;
  background-color: rgb(8, 204, 218);
  color: white;
  font-family: inherit;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.home--shop-link:hover {
  background-color: #00b4c1;
  scale: 1.1;
}

.home--shop-link:active {
  scale: 1;
}

.shop--items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin: 60px 25px;
}

.shop--card {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop--img-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.shop--img-container img {
  width: 100%;
}

.oos-badge {
  box-sizing: border-box;
  position: absolute;
  font-family: 'borsok';
  color: white;
  background-color: #777;
  height: 50px;
  width: 50px;
  font-size: 12px;
  letter-spacing: 0.1em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: -6px;
  left: -6px;
  
}

.shop--name {
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 7px;
}

@keyframes alt {
  0% {
    rotate: 0;
  }
  25% {
    rotate: -10deg;
  }
  50% {
    translate: 0 -10px;
    rotate: 0deg;
  }
  75% {
    rotate: 10deg;
  }
  100% {
    rotate: 0;
  }
}

.alt-effect {
  animation-name: alt;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.item-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  color: rgb(29,31,40);
  padding: 20px;
  padding-top: 5vw;
  padding: 5vw 20px 60px 20px;
}

.item-page--wrapper {
  max-width: 1150px;
}

.item--name {
  font-size: 4.5rem;
  font-family: 'borsok';
  font-weight: 100;
}

.item--main-info {
  display: flex;
  gap: 50px;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 0.5px solid rgba(29, 31, 40, 0.191);
  padding-bottom: 20px;
}

.item--main-info-part div:first-child {
  font-size: 0.75rem;
  color: rgba(29, 31, 40, .69);
}

.item--text {
  font-size: 0.9rem;
  font-weight: 500;
}

.item--images {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.item--image-container {
  max-width: 500px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 249, 249);
  border-radius: 30px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.item--image-roll{
  display: flex;
  transition: 0.3s;
}

.item--image-container img {
  width: 100%;
}

.item--image-container button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item--image-container:hover .image-button {
  translate: 0;
}

.image-button {
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}

.image-button img {
  width: 100%;
}

.image-button:hover {
  opacity: 1;
}

.item--image-right {
  right: 0;
  translate: 6vh;
}

.item--image-left {
  left: 0;
  translate: -6vh;
}

.item--image-selector {
  transition: 0.3s;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.item--image-selector img {
  transition: 0.3s;
  cursor: pointer;
}

.item--size p {
  margin: 0;
}

.item--size div {
  width: max-content;
  white-space: pre-wrap;
  box-sizing: border-box;
  padding: 6px 16px;
  border: 1px solid rgba(8, 204, 218, 0.371);
  margin: 10px 0;
}

.item--price-container div:first-child {
  font-size: 0.9rem;
  margin: 0 6px;
}

.item--out-of-stock {
  color: #B50808;
}

.item--price {
  line-height: 100%;
  font-size: 3rem;
}

.item--acquisition {
  margin: 30px 0;
}

.item--qty {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid rgb(233, 233, 233);
  width: max-content;
  border-radius: 5px;
}

.item--qty input[type='number'] {
  box-sizing: border-box;
  margin: 0;
  appearance: none;
  height: 100%;
  border: none;
  width: 30px;
  text-align: center;
  color: #777
}

.item--qty input[type='number']:focus {
  outline: none;
}

/* only working way I could find of removing arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-error {
  transition: 0.5s;
  position: absolute;
  bottom: -100%;
  font-size: 0.8rem;
  color: #B50808;
  font-weight: 600;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  pointer-events: none;
}

.item--qty button {
  box-sizing: border-box;
  width: 25px;
  appearance: none;
  border: none;
  background-color: transparent;
  height: 100%;
  color: #777;
  cursor: pointer;
}

button.qty-minus {
  border-right: 1px solid rgb(233, 233, 233);
}

button.qty-plus {
  border-left: 1px solid rgb(233, 233, 233);
}

button.qty-plus:hover,
button.qty-minus:hover {
  color: var(--button-color);

}

.item--qty-form {
  display: flex;
  gap: 16px;
  align-items: center;
}

button.add-to-cart {
  cursor: pointer;
  appearance: none;
  background-color: var(--button-color);
  border: none;
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}

button.add-to-cart:hover {
  translate: -1px -1px;
  box-shadow: 1px 1px 8px var(--button-color);
}

button.add-to-cart:active {
  translate: 0;
  box-shadow: none;
}

.cart-empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.cart-empty-page img {
  height: 20vh;
  opacity: 0.2;
}

.cart-empty-text {
  font-size: calc(1rem + 3vw);
  font-weight: 900;
  margin-bottom: 2vh;
}

.cart-empty-page button {
  appearance: none;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: var(--button-color);
  font-family: inherit;
  font-weight: 800;
  color: white;
  letter-spacing: 0.05rem;
}

.cart-page {
  padding: 50px 20px;
  width: 100%;
  max-width: 1200px;
}

.cart--details {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cart--items-wrapper {
  flex: 1 1 50%;
  container-type: inline-size;
  container-name: cart;
}

.cart--items {
  width: 100%;
  height: min-content;
  min-width: 300px;
}

.cart--totals {
  flex: 1 1 20%;
  min-width: 300px;
  height: min-content;
}

.cart--item-row {
  height: 75px;
  position: relative;
  transition: 0.5s;
}

.cart--item-row td {
  height: 75px;
  text-align: center;
}

.cart--item-img {
  height: 100%;
}

.cart--remove {
  position: absolute;
  inset: 0;
  margin: auto auto auto 0;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart--remove:hover {
  opacity: 0.5;
}

.cart--remove:active {
  scale: 0.9;
}

.cart--remove img {
  height: 100%;
  /* width: 100%; */
}

.cart--remove-column {
  width: 30px;
}

.cart-page th {
  font-size: 0.8rem;
  font-weight: 900;
  border-bottom: 2px solid #77777718;
  text-align: center;
}

table {
  width: 100%;
  max-width: 700px;
  table-layout: fixed;
  border-collapse: collapse;
}

.item--sub-total {
  color: var(--button-color);
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.cart-page .item--qty {
  margin-left: auto;
  margin-right: auto;
}

.cart--totals th {
  border: none;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 900;
}

.cart--totals {
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  padding: 16px;
}

.totals-price {
  color: #777;
  text-align: right;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.highlight {
  color: var(--button-color);
}

.large {
  font-size: 1.3rem;
  font-weight: 800;
}

.cart--totals--data {
  border-bottom: 1px solid #EFEFEF;
}

.cart--totals td {
  padding: 16px 8px;
}

.cart--totals--heading {
  font-size: 0.8rem;
}

.checkout-button {
  width: 100%;
  appearance: none;
  border: none;
  color: white;
  background-color: var(--button-color);
  height: 3rem;
  border-radius: 30px;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-button:hover {
  translate: 0 -1px;
}

.checkout-button:active {
  translate: 0;
}

.cart--item-name {
  cursor: pointer;
}

.cart--item-img-container {
  cursor: pointer;
}

.cart--item-img-container .cart--item-img {
  transition: 0.3s;
}

.cart--item-img-container:hover .cart--item-img,
.cart--item-row:has(.cart--item-name:hover) .cart--item-img{
  scale: 1.1;
}

.cart--item-img-container:active .cart--item-img,
.cart--item-row:has(.cart--item-name:active) .cart--item-img {
  scale: 1;
}

@container cart (max-width: 500px) {
  .cart-page th {
    display: none;
  }

  .cart--remove-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart--remove {
    height: 20px;
    position: relative;
  }

  .cart--item-row {
    height: min-content;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 115px;
    margin-bottom: 20px;
  }

  .cart--item-row .cart--item-img-container {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart--item-img {
    height: 80%;
  }
  
  .cart-page .item--qty {
    height: 1rem;
  }

  .item--qty-container {
    display: flex;
    justify-content: flex-end;
  }

  .cart--item-row td {
    height: 1.5rem;
    font-size: 0.8rem;
    display: flex;
  }

  .dash-bottom {
    border-bottom: 1px dashed rgba(129,129,129,0.2);
  }

  .item--sub-total {
    font-size: 0.9rem;
  }

  .cart--item--price {
    color: #777;
  }

  .item--sub-total::before,
  .item--qty-container::before,
  .cart--item--price::before {
    margin: auto auto auto 0;
    color: #2d2a2a;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0;

  }

  .cart--item--price::before {
    content: 'PRICE';
  }

  .item--qty-container::before {
    content: 'QUANTITY';
  }

  .item--sub-total::before {
    content: 'SUBTOTAL';
  }

  .cart--item-row .cart--item-name {
    margin-right: auto;
    font-size: 1rem;
  }
}